@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800;900&display=swap');


body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 94%);
}

.content {}

.content .trophy img {
    display: block;
    margin: auto;
    max-width: 128px;
    filter: drop-shadow(0 0 4px #000);
    transition: 0.5s;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }
}

.content .text h1 {
    font-weight: 900;
    font-size: 8rem;
    color: #222324;
    text-shadow: 8px 0px 0px #FABE2C;
}
#developerPra {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.7);
}
